<%- include('layout/header') %>

<center>
  <!-- Title -->
  <br />
  <h1>About Me & The Project</h1>
  <hr />

  <!-- About Me-->

  <div class="row">
    <div class="column" id="gfg">
      <div class="card">
          <br />
        <img src="https://avatars.githubusercontent.com/u/77353829?v=4" width="150" class="img-thumbnail" />
        <div class="container">
          <h2>Dhiraj Jayswal</h2>
          <h6>Phone No : 7000552971<h6>
          <h6>Email Id : dhirajjayswal0123@gmail.com</h6>

  <!-- About Project-->
          <hr />
          <br />
          <p>Project name: VitClass2021</p>
          <br />
          <p>This is a web development project created using NodeJs, ExpressJs & MongoDB. The main aim of this website is to explore the functionality of web designing process and showcase the use of CRUD (Create, Retrive, Update & Delete) functions. Here the database is created locally and can be acess eiter using MongoDB's application : Compass or using the command prompt</p>
        </div>
      </div>
    </div>
  </div>
</center>

<%- include('layout/footer') %>
